<div class="footer container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div>
        <span>Texto sobre o Teorema de Pitágoras = <a href="https://brasilescola.uol.com.br/" target="_blank">https://brasilescola.uol.com.br/</a></span>
        <br>
        <span>Icone do Angular = <a href="https://angular.io/" target="_blank">https://angular.io/</a></span>
        <br>
        <span>Imagem do Trollface = <a href="https://pt.wikipedia.org/wiki/Trollface" target="_blank">https://pt.wikipedia.org/wiki/Trollface</a></span>
        <a class="trolei" href="https://pt.wikipedia.org/wiki/Trollface" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/pt/7/73/Trollface.png" width="100px" height="auto"></a>
        <br>
        <br>
        <br>
        <div class="p"><p>Lembrando, o Angular tem nada à ver com Angulos, isso somente é uma piada interna e não deve ser levada a sério.</p></div>
      </div>
    </footer>
  </div>