.header {
    background-image: linear-gradient(to right, rgb(230, 55, 55), rgb(145, 62, 62)) ;
}

a {
    font-style: italic;
    color: white;
}

.nav-link {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.nav-link:hover {
    border: 2px rgb(255,192,192) solid;
    border-radius: 10px;
    color: rgb(255, 192, 192);
}
