<div class="header">
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="https://angular.io/assets/images/logos/angular/angular.svg" width="40px" height="auto">Angular</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="https://brasilescola.uol.com.br/matematica/seno-cosseno-tangente-angulos.htm">Seno</a>
          <a class="nav-link" href="https://brasilescola.uol.com.br/matematica/seno-cosseno-tangente-angulos.htm">Cosseno</a>
          <a class="nav-link" href="https://brasilescola.uol.com.br/matematica/seno-cosseno-tangente-angulos.htm">Tangente</a>
          <a class="nav-link" href="https://brasilescola.uol.com.br/matematica/teorema-pitagoras.htm">Hipotenusa</a>
          <a class="nav-link" href="https://brasilescola.uol.com.br/matematica/angulos.htm">Angulos</a>
        </div>
      </div>
    </div>
  </nav>
</div>