<nav>
    <h1>"Teorema de Pitágoras"</h1>
    <p>"O teorema de Pitágoras é um teorema que relaciona os lados de um triângulo retângulo. Segundo esse teorema, o quadrado da hipotenusa é igual à soma dos quadrados dos catetos."</p>
    <p>"O teorema de Pitágoras é uma relação entre as medidas dos lados de um triângulo retângulo. De acordo com esse teorema, o quadrado da medida da hipotenusa é igual à soma dos quadrados das medidas dos catetos. Ou seja, se os catetos medem <span class="italic">a</span> e <span class="italic">b</span> e a hipotenusa mede c, então <span class="italic">c² = a² + b²</span>."</p>
    <p>"Podemos utilizar essa relação para obter a medida de um dos lados do triângulo retângulo, supondo que os outros dois sejam conhecidos. Ainda que tal aplicação seja simples, o teorema de Pitágoras é um recurso fundamental em diversos campos da Matemática, sendo amplamente estudado durante séculos."</p>
    <h2>"Resumo sobre teorema de Pitágoras"</h2>
    <p>"Em um triângulo retângulo, se <span class="italic">a</span> e <span class="italic">b</span> são as medidas dos catetos e <span class="italic">c</span> é a medida da hipotenusa, então, pelo teorema de Pitágoras, <span class="italic">c² = a² + b²."</span></p>
    <p>"O teorema de Pitágoras é útil em muitas situações, inclusive para demonstrar outros resultados matemáticos."</p>
    <p>"A aplicação imediata desse teorema ocorre pela substituição das medidas de dois lados conhecidos em um triângulo retângulo para obter a medida do terceiro."</p>
    <p>"Devido à sua importância, existem centenas de demonstrações para o teorema de Pitágoras."</p>
    <p>Veja mais sobre "Teorema de Pitágoras" em: <a href="https://brasilescola.uol.com.br/matematica/teorema-pitagoras.htm" target="_blank">https://brasilescola.uol.com.br/matematica/teorema-pitagoras.htm</a></p>

</nav>
